:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
  --purple-2: #5722d4;
  font-family: Poppins;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

body {
  color: var(--purple);
  background-color: var(--body-bg-color);
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10rem;
}

@media screen and (min-width: 1280px) {
  main {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 360px) {
  main {
    margin-top: 0.5rem;
  }


}

.image {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.image-profile {
  padding: 0.4rem;
  width: 16rem;
  height: 16rem;
  left: 39rem;
  top: 13rem;

  border: 2px solid var(--purple);
  box-sizing: border-box;
  border-radius: 50%;
}

.image-profile:hover {
  box-shadow: 0 0 0.5em 4px #5722d4;
}

.image span, a {
  margin-top: 0.7rem;
  color: var(--purple);
}

.image span, a:hover {
  color: #5722d4;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 5rem;
}


@media screen and (min-width: 360px) {
  .links {
    margin-top: 0;
    margin-bottom: 0;
  }

}

.links span {
  margin-bottom: 1rem;
}

@media screen and (min-width: 360px) {
  .links span {
    margin-bottom: 0.1rem;
  }
}

.link ul, li {
  display: flex;
  padding: .5rem;
}

.link ul, li button {
  width: 326px;
  height: 49px;
  border: 2px solid var(--purple);

  box-sizing: border-box;
  border-radius: 4px;

  padding: 0.5rem;
}

.link ul, li button:hover {
  color: var(--purple-2);
  border: 2px solid var(--purple-2);
}

@media screen and (min-width: 360px) {
  .link ul, li button {
    padding: 0.1rem;
  }
}

.social {
  display: flex;
  margin-bottom: 20rem;
}

.social ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.social ul li a:hover {
  border: 2px solid var(--purple-2);
  border-radius: 10%;
  padding: 0.2rem;
}


@media screen and (min-width: 360px) {
  .social {
    margin-bottom: 5rem;
  }

  .social ul li a:hover {
    transition: all 0.5s;
    cursor: pointer;
    border: none;

  }

}
